<table class="mt-0 mb-1 table table-dark text-white table-hover table-sm">
  <tbody>
    <tr>
      <td colspan="9">
        <b>Döviz Fiyatları</b>
      </td>
    </tr>
    <tr>
      <td style="width: 26%"></td>
      <td style="width: 22%">Alış</td>
      <td style="width: 22%">Satış</td>
      <td style="width: 30%" class="text-end">Tahmin</td>
    </tr>
    <tr
      app-fw-row
      [title]="'Dolar (USD)'"
      [rowData]="data.usd"
      [loading]="loadingUsd"
    ></tr>
    <tr
      app-fw-row
      [title]="'Euro (EUR)'"
      [rowData]="data.eur"
      [loading]="loadingEur"
    ></tr>
    <tr
      app-fw-row
      [title]="'Sterlin (GBP)'"
      [rowData]="data.gbp"
      [loading]="loadingGbp"
    ></tr>
  </tbody>
</table>
